<div class="ibox" style="padding: 15px 10px 10px 10px ">
  <div class="ibox-content notice-backgrount" style="padding-top: 0">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox" style="padding-bottom: 0">
          <h4 style="display: inline-block;padding-left: 10px;margin-top: 10px">用户注册</h4>
        </div>
      </div>
    </div>
    <div style="text-align: center;font-size: 16px;padding-bottom: 25px">
      <h3 style="font-weight: 400;color:#333">请关注微信公众号并按要求操作</h3>
      <p>申请结果和通知将在微信公众号上查询</p>
      <img ng-src="images/4.pic_hd.jpg">
      <p>已完成注册,<a ui-sref="admin.jx.login">立即登陆</a></p>
    </div>
  </div>
</div>
