<div class="ibox">
  <div class="ibox-content">
    <div style="text-align: center">
      <h3>{{vm.show.name}}</h3>
      <p>{{vm.show.time}}</p>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
            <div>
              <h4 style="display: inline-block">申请截止&nbsp;:&nbsp;</h4>
              <p style="margin-top: 5px;display: inline-block">{{vm.show.end_at}}</p>
            </div>
          <div>
            <h4 style="display: inline-block">发榜日期&nbsp;:&nbsp;</h4>
            <p style="margin-top: 5px;display: inline-block">{{vm.show.show_time}}</p>
          </div>
          <div>
            <h4 style="display: inline-block">报道日期&nbsp;:&nbsp;</h4>
            <p style="margin-top: 5px;display: inline-block">{{vm.show.start_at}}</p>
          </div>
          <div>
            <h4 style="display: inline-block">结业日期&nbsp;:&nbsp;</h4>
            <p style="margin-top: 5px;display: inline-block">{{vm.show.end}}</p>
          </div>
          <div>
            <h4 style="display: inline-block">进修时间&nbsp;:&nbsp;</h4>
            <p style="margin-top: 5px;display: inline-block">{{vm.show.jx}}</p>
          </div>
          <div >
            <h4 style="display: inline-block">进修费用&nbsp;:&nbsp;</h4>
            <p style="margin-top: 5px;display: inline-block">{{vm.show.money}}</p>
          </div>
          <div>
            <h4>详细介绍&nbsp;:</h4>
          </div>
          <div>
            <p style="margin-top: 5px">{{vm.show.detail}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
