<div class="nav step-group">
  <!--<ul class="list-unstyled">-->
    <!--<li ui-sref-active="step" style="border-left: 1px solid #eee"><a ui-sref="admin.jx.application.navigation.step.base">基本信息</a></li>-->
    <!--<li ui-sref-active="step"><a ui-sref="admin.jx.application.navigation.step.work">工作信息</a></li>-->
    <!--<li ui-sref-active="step"><a ui-sref="admin.jx.application.navigation.step.study">学习科研</a></li>-->
    <!--<li ui-sref-active="step"><a ui-sref="admin.jx.application.navigation.step.other">自评及其他</a></li>-->
  <!--</ul>-->
  <div ui-view></div>
</div>

